<a class="website" href="{{pageUrl}}">← Back to Article</a>
<div class="user">
	<img class="avatar" src="https://www.gravatar.com/avatar/{{owner.gravatar}}?d=monsterid" alt="{{owner.name}}">
	<div class="title">
		<span class="username">{{owner.name}}</span>•
		<span class="date">{{dateFormat createdAt 'DD MMM YYYY - HH:mm'}}</span>
	</div>
	<h1 class="body">{{body}}</h1>
</div>
<style>
	*{
		box-sizing: border-box;
		line-height: 1;
		font-size: 0;
		padding: 0;
		margin: 0;
	}
	html {
		padding: 0 30px;
	}
	body {
		max-width: 600px;
		background: #fff;
		margin: 50px auto 0 auto;
	}
	a {
		text-decoration: none;
	}
	.website {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 25px;
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.avatar {
		width: 50px;
		float: left;
		height: 50px;
		border-radius: 4px;
		margin-right: 10px;
	}
	.title {
		display: flex;
		font-size: 8px;
		line-height: 1;
		margin-bottom: 4px;
		-moz-box-align: center;
		align-items: center;
		flex-direction: row;
		color: rgb(104, 122, 134);
	}
	.user {
		clear: both;
		margin-bottom: 24px;
	}
	.username {
		font-size: 12px;
		font-weight: 700;
		margin-right: 5px;
		letter-spacing: 0.5px;
		color: rgb(104, 122, 134);
	}
	.date {
		font-size: 12px;
		font-weight: 500;
		margin-left: 5px;
		letter-spacing: 0px;
		color: rgb(104, 122, 134);
	}
	.body {
		font-size: 15px;
		font-weight: 400;
		min-height: 24px;
		line-height: 24px;
		letter-spacing: 0.3px;
		white-space: break-spaces;
		color: rgb(42, 46, 46);
	}
</style>